#services {
  background-color: #fff;
  color: #636363;
  padding: 4em 4em 8em 4em;
  border-bottom: 1px solid #ddd;
  .services {
    .services-container {
      text-align: center;
      margin-top: 6em;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media('<=phone') {
        flex-direction: column;
      }
      .service-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon-container {
          display: inline-block;
          border-radius: 100%;
          border: solid 1px #ddd;
          padding: 4em;
          position: relative;
          @include media('<=tablet') {
            padding: 3em;
          }
          @include media('<=phone') {
            padding: 4em;
          }
          svg {
            width: 8em;
            height: 8em;
            fill: $three;
            @include media('<=tablet') {
              width: 5em;
              height: 5em;
            }
            @include media('<=phone') {
              width: 8em;
              height: 8em;
            }
          }
          &::after {
            content: '';
            height: 90%;
            width: 90%;
            border-radius: 100%;
            border: solid 1px #ddd;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &:first-child {
          .icon-container {
            svg {
              fill: $two;
            }
          }
        }
        &:last-child {
          .icon-container {
            svg {
              fill: $four;
            }
          }
        }
      }
      h5 {
        font-size: 1.25em;
        font-weight: 300;
        line-height: 1.5;
        margin: 0.7em 0;
        letter-spacing: -0.025em;
      }
      p {
        margin-bottom: 2em;
        line-height: 1.65;
      }
    }
  }
}
