@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import './variables.scss';
@import './breakpoints.scss';
@import './components/landing.scss';
@import './components/nav.scss';
@import './components/intro.scss';
@import './components/services.scss';
@import './components/testimonial.scss';
@import './components/signUp.scss';
@import './components/footer.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  // visibility: hidden;
  box-sizing: border-box;
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gradient;
}
section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  @include media('<=desktop') {
    width: 1080px;
    min-width: 1080px;
  }
  @include media('<=1080px') {
    width: 100%;
    min-width: 100%;
  }
  .flex {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media('<=phone') {
      padding: 0 16px;
    }
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .flex {
    display: flex;
    height: 100%;
  }
}

.header {
  margin: 0 auto;
  text-align: center;
  max-width: 35em;
  h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0.001em;
    letter-spacing: -0.025em;
    &:after {
      display: block;
      content: '';
      width: 3.25em;
      height: 2px;
      margin-top: 0.7em;
      margin-left: auto;
      margin-right: auto;
      border-radius: 2px;
      background: $gradient;
    }
  }
  p {
    font-size: 1.15em;
    margin: 2em 0;
    line-height: 1.65;
  }
  .buttons {
    a {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px #63636371;
      color: #636363;
      border-radius: 8px;
      border: 0;
      cursor: pointer;
      display: inline-block;
      font-weight: 300;
      height: 2.75em;
      line-height: 2.75em;
      min-width: 9.25em;
      padding: 0 1.5em;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      &:nth-child(1) {
        margin-right: 0.5em;
        background-color: $five;
        @include media('<=phone') {
          margin-right: 0;
          margin-bottom: 1em;
        }
      }
    }
  }
}
