$green: #56ff0d;
$dark-green: #9be80c;
$yellow: #ffff00;
$dark-yellow: #e8d20c;
$orange: #ffce0d;

$gradient: linear-gradient(45deg, #82ffa5 0%, #76e876 100%);

//analogous
$one: #82ffa5;
$two: #76e876;
$three: #b6ff8e;
$four: #c6e876;
$five: #fffd82;
